* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./img/clouds-weather.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #6b7280;
}

img {
  display: inline-block;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  background-color: #0f172a;
  padding: 1rem;
  color: #cfcfcf;
}

header img {
  width: 2rem;
}

.btn {
  display: inline-block;
  padding: .5rem 1rem;
  cursor: pointer;
  background: none;
  outline: none;
  border: 1px solid #0f172a;
  background-color: #0f172a;
  border-radius: 5px;
  color: crimson;
  transition: all 0.5s ease;
}

.btn:active {
  transform: scale(0.95);
}

.container {
  width: 40%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #0f172a;
  color: #cfcfcf;
  border-radius: 10px;
}

.search__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: .3rem;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  background-color: #1e293b;
}

.search__bar div {
  font-size: 1.2rem;
}

.search__bar input {
  width: 70%;
  padding: .6rem .3rem;
  font-size: 1rem;
  color: #a1a1aa;
  border: none;
  outline: none;
  background: none;
}

.search__bar button {}